@import 'fonts';
@import 'vars';
@import 'global';


//  start header 

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 77;
    background-color: $bg;

    &__menu-wrapper {
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
    }

    &__menu-logo {
        margin-right: 60px;
    }

    &__menu {
        display: flex;
        align-items: center;
        min-height: 88px;
    }

    &__menu-btn {
        margin-right: 0;
        margin-left: auto;
    }

    &__menu-call {
        font-family: "Roboto"sans-serif;
        font-weight: 700;
        letter-spacing: 0.012em;
        color: $btn;
        padding: 13px 10px;
        border-radius: 4px;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 3px solid $btn;
        transition: all .3s;

        &:hover {
            background-color: $btn;
            color: #fff;
        }
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item {
        list-style: none;

        &+& {
            margin-left: 25px;
        }
    }

    &__item-link {
        font-size: 12px;
        color: #9daeb6;
        font-weight: 700;
        position: relative;
        padding-bottom: 12px;
        transition: all .3s;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $btn;
            transform: scale(0);
            transition: all .2s ease-in-out;
        }

        &:hover {
            color: $btn;

            &::before {
                transform: scale(1);
            }
        }
    }

    &__btn {
        width: 30px;
        display: none;

    }

    &__btn-item {
        width: 100%;
        background-color: $btn;
        height: 4px;
        margin-bottom: 4px;
    }
}

// end header 

// start modal 
#modal-1,
#modal-2,
#modal-3,
#modal-4,
#modal-5,
#modal-6,
#modal-7,
#modal-8,
#modal-9,
#modal-10,
#modal-11,
#modal-12,
#modal-13,
#modal-14,
#modal-15 {
    display: none;
    background: #f4f6fa;
    border-radius: 10px;
    cursor: auto;
    text-align: center;

    .price {
        &__title {
            color: rgba(0, 204, 255, 1);
            @include f700;
            font-size: 30px;
            max-width: 600px;
            line-height: 30px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
        }

        &__text {
            margin-bottom: 20px;
            @include f500;
        }

        &__span {
            display: inline-block;
            margin-top: 20px;
            @include f500;
            max-width: 400px;
            width: 100%;
        }

        &__input {
            width: 49%;
            margin-bottom: 10px;
            outline: none;
            border: 2px solid #697378;
            border-radius: 5px;
            padding: 20px;
            display: inline-block;

            &:focus {
                border-color: #00902a;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 204, 255, 1), 0 0 8px rgba(0, 204, 255, 1);
            }
        }

        &__btn {
            border: none;
            cursor: pointer;
            font-size: 15px;
            @include f500;
            background: rgba(0, 204, 255, 1);
            transition: all .3s;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;

            &:hover {
                box-shadow: inset 0 1px 1px rgba(0, 204, 255, 1), 0 0 8px rgba(0, 204, 255, 1);
            }
        }
    }
}

// end modal 

// start advantahes
.advantages {
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title {
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
        .advantages__item-images {
            background-color: $btn;
        }

        .advantages__item-title {
            color: $btn;
        }

        .advantages__item-images {
            g {
                fill: #fff;
            }
        }
    }

    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }

    &-title {
        margin-bottom: 25px;
        font-size: 24px;
        color: #fff;
        @include f500;
        transition: all .5s;
    }

    &-text {
        font-size: 15px;
    }
}

.icosvg-1 {
    svg {
        width: 70px;
    }
}

.icosvg-2 {
    svg {
        width: 70px;
    }
}

.icosvg-3 {
    svg {
        width: 70px;
    }
}

// end advantages

// start products 
.products {
    background-color: $grey;
    padding-top: 110px;

    .product__item {
        max-width: 442px;
        width: 100%;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        margin-bottom: 30px;

        &-img {
            min-height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: block;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            padding: 10px 21px;
            min-height: 90px;
            align-items: center;
            @include f500;
            border-bottom: 1px solid #e7ecf2;
        }

        &-name {
            max-width: 310px;
        }

        &-title {
            color: $bg;
            font-size: 18px;
            display: block;
            line-height: 25px;
            max-width: 225px;
            width: 100%;
        }

        &-category {
            font-size: 14px;
            color: $bg;
            display: block;
        }

        &-price {
            font-size: 20px;
            @include f700;
            color: $btn;
            padding-left: 5px;
        }

        .product__item-author-link {
            text-align: center;
            font-size: 19px;
            @include f500;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            padding: 10px;
            border-radius: 5px;
            display: block;

            &:hover {
                background: rgb(0, 204, 255);
                box-shadow: rgb(0, 204, 255) 0px 1px 1px inset, rgb(0, 204, 255) 0px 0px 8px;
            }
        }
    }
}


.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        outline: none;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $btn;
            color: #fff;
        }
    }

}

.products__inner-box {
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    flex-wrap: wrap;
}

.products .product__item {
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
}

.products__bottom-btn {
    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        outline: none;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $btn;
            color: #fff;
        }
    }

    .products__wrapper,
    .product-slider__wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }
}

// end products

// product-slider start
.anchor {
    padding-bottom: 100px;
}

.product-slider {
    padding: 0px 0 40px;

    .slick-slide .product__item {
        max-width: 1000px !important;
        width: 100%;
        height: 500px;
    }

    .product-slider__inner {
        text-align: center;
    }

    .product-slider__box {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    .product-slider__box-text {
        @include f700;
    }

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: $btn;
                }
            }

            button {
                border-radius: 50%;
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                outline: none;
                background-color: rgb(232, 232, 232);
                cursor: pointer;
            }
        }
    }

    .product__item-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        height: 100%;
    }


}

// product-slider end

// start author
.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $btn;
        border-radius: 30px;
    }

    &__title {
        color: #fff;
        line-height: 30px;
        font-size: 30px;
        margin-right: 45px;
        max-width: 265px;

        span {
            @include f700;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
        transition: all .3s;

        &:hover {
            background-color: $btn;
            color: #000;
            box-shadow: rgb(0, 204, 255) 0px 1px 1px inset, rgb(0, 204, 255) 0px 0px 8px;
        }
    }
}

// end author

// contact start 
.contact {
    padding-top: 100px;
}

.contact__inner {
    padding: 35px 40px 15px;
}

.contact__map {
    iframe {
        width: 100%;
        height: 415px;
    }

    margin-bottom: 50px;
}

.contact__box {
    display: flex;
}

.contact__info {
    margin-right: 30px;
    max-width: 330px;
    width: 100%;
}

.contact__info-item {
    margin-bottom: 30px;
}

.contact__info-title {
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    @include f500;
    color: $bg;
    margin-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        width: 44px;
        height: 4px;
        background-color: $btn;
        left: 40px;
        bottom: 0;
    }

    &::before {
        position: absolute;
        color: $btn;
        font-size: 24px;
        left: 0;
    }
}

.contact__info-content {
    padding-left: 40px;
    color: #707070;
    max-width: 240px;
}
.contact__info-content--color {
    transition: all .3s;
    &:hover {
        color: $btn;
    }
}

.contact__form-title {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
    @include f500;
}

.contact__form-row {
    display: flex;
    justify-content: space-between;
}

.contact__form {
    width: 100%;

    input {
        border: 3px solid transparent;
        display: block;
        height: 43px;
        padding-left: 17px;
        padding-right: 17px;
        background-color: #f1f4f5;
        width: 350px;
        margin-bottom: 30px;

        &:focus {
            outline: none;
            border: 3px solid $btn;
            border-radius: 3px;
        }

        &::placeholder {
            font-size: 15px;
            color: #7a7a7a;
        }
    }

    textarea {
        border: 3px solid transparent;
        padding: 13px 17px;
        height: 190px;
        background-color: #f1f4f5;
        width: 100%;
        display: block;
        resize: none;
        margin-bottom: 23px;

        &:focus {
            outline: none;
            border: 3px solid $btn;
            border-radius: 3px;
        }

        &::placeholder {
            font-size: 15px;
            color: #7a7a7a;
        }
    }

    button {
        border: none;
        background-color: $btn;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        @include f700;
        color: #fff;
        padding: 20px 5px;
        width: 190px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $btn;
            box-shadow: rgb(0, 204, 255) 0px 1px 1px inset, rgb(0, 204, 255) 0px 0px 8px;
        }
    }
}

// contact end 


// footer start
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}

.footer__col {
    max-width: 270px;
    width: 100%;

    &-menu {
        max-width: 220px;
    }

    &-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 20px;
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: 2px;
            content: "";
            width: 51px;
            height: 3px;
            background-color: $btn;
        }
    }

    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}

.footer__info {
    margin-top: 18px;
    @include f500;
    font-weight: 700;
    color: #fff;
    padding-left: 25px;
    position: relative;

    &::before {
        content: "\e948";
        position: absolute;
        left: 0;
        font-family: 'icomoon';
        color: $btn;
        font-size: 18px;
    }

    &-phone {
        transition: all .3s;

        &::before {
            content: "\e942";
        }

        &:hover {
            color: $btn;
        }
    }
}

.footer__col-list {
    a {
        margin-bottom: 13px;
        padding-left: 22px;
        position: relative;
        transition: all .3s;

        &:hover {
            color: #fff;
        }

        &::before {
            content: "\e901";
            font-family: 'icomoon';
            color: $btn;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}

.footer__social-link {
    margin-bottom: 45px;

    li {
        display: inline-block;

        &+li {
            margin-left: 50px;
        }
    }
}

.link-whatsapp {
    &:hover {
        &::before {
            color: #43d854;
            transform: rotateY(360deg);
        }
    }
}

.link-instagram {
    &:hover {
        &::before {
            color: rgb(221, 42, 123);
            transform: rotateY(360deg);
        }
    }
}


.link-instagram::before,
.link-whatsapp::before {
    transition: all .6s linear;
    position: absolute;
    color: $btn;
    font-size: 30px;
    font-family: 'icomoon';
}

.link-whatsapp::before {
    content: "\ea93";
}

.link-instagram::before {
    content: "\ea92";
}

.footer__form-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.footer__form {
    position: relative;

    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        color: #fff;
        height: 40px;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;

        &::placeholder {
            color: #697378;
        }

        &:focus {
            box-shadow: rgb(0, 204, 255) 0px 1px 1px inset, rgb(0, 204, 255) 0px 0px 8px;
            outline: none;
        }
    }

    button {
        transition: all .3s;

        &:hover {
            box-shadow: rgb(0, 204, 255) 0px 1px 1px inset, rgb(0, 204, 255) 0px 0px 8px;
        }

        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $btn;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "\e949";
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            top: 11px;
            left: 13px;
        }
    }
}

.footer__copy {
    border-top: 1px solid #424d53;
}

.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0;
}

// footer end 

@import 'media';